models/*

*.mp4

*.weights

kubeflow_components/convert-tiny-darknet-2-tf-op/darknet_model/*

kubeflow_components/convert-tiny-darknet-2-tf-op/tf_model/*

kubeflow_components/predict-video-op/input_videos/*

kubeflow_components/predict-video-op/output_videos/*

kubeflow_components/predict-video-op/tf_models/*
