models/*

*.mp4

*.weights

*.png

*.txt

*.xml

kubeflow_components/convert-tiny-darknet-2-tf-op/darknet_model/*

kubeflow_components/convert-tiny-darknet-2-tf-op/tf_model/*

kubeflow_components/predict-video-op/input_videos/*

kubeflow_components/predict-video-op/output_videos/*

kubeflow_components/predict-video-op/tf_model/*

kubeflow_components/predict-metadata-op/input_videos/*

kubeflow_components/predict-metadata-op/output_videos/*

kubeflow_components/predict-metadata-op/tf_model/*

**/venv-linux

**/venv-windows
